version: '3'

services:
  backend:
    image: admin-portal
    environment:
      TZ: Europe/Oslo
      fint.ldap.url:
      fint.ldap.user:
      fint.ldap.password:
      fint.nam.oauth.username:
      fint.nam.oauth.password:
      fint.nam.oauth.idp-hostname:
      fint.nam.oauth.clientSecret:
      fint.nam.oauth.clientId:
    ports:
      - "9007:8081"
