<h2>Felleskomponenter</h2>

<div>
  Dette er alle felleskomponenter registrert.
</div>

<mat-card>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <mat-card-content class="table-container" *ngIf="components.length">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th>Teknisk navn</th>
          <th>Beskrivelse</th>
          <th></th>
        </tr>
      </thead>

      <!-- Editor -->
      <tbody>
        <tr *ngFor="let component of components;" [routerLink]="['./', component.name]">
          <td>{{ component.displayName }}</td>
          <td>{{ component.name }}</td>
          <td>{{ component.description }}</td>
          <td>
            <button mat-icon-button><fa name="edit"></fa></button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['./add']" type=" button ">
      <fa name="plus "></fa>
      Konfigurer ny komponent
    </button>
  </mat-card-actions>
</mat-card>
