<h2>Tilknyttetede organisasjoner</h2>

<div>
</div>

<mat-card>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <mat-card-content class="table-container" *ngIf="organizations.length">
    <table>
      <thead>
        <tr>
          <th>Org. Id</th>
          <th>Navn</th>
          <th>Org. nummer</th>
          <th></th>
        </tr>
      </thead>

      <!-- Editor -->
      <tbody *ngFor="let organization of organizations;" [routerLink]="['./', organization.uuid]">
        <tr>
          <td>{{ organization.orgId }}</td>
          <td>{{ organization.displayName }}</td>
          <td>{{ organization.orgNumber }}</td>
          <td>
            <button mat-icon-button><fa name="edit"></fa></button>
          </td>
        </tr>
      </tbody>

    </table>
  </mat-card-content>
  <mat-card-content *ngIf="!organizations.length">
    Ingen registrerte organisasjoner enda.
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['./', 'add']" type="button">
      <fa name="plus"></fa>
      Ny organisasjon
    </button>
  </mat-card-actions>
</mat-card>
