<h2>Tilknyttetede organisasjoner</h2>

<div>
</div>

<md-card>
  <md-card-content class="table-container" *ngIf="organizations.length">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th>Org. nummer</th>
          <th>Ansvarlig</th>
        </tr>
      </thead>

      <!-- Editor -->
      <tbody *ngFor="let organization of organizations;" [routerLink]="['./', organization.orgId]">
        <tr>
          <td>{{ organization.displayName }}</td>
          <td>{{ organization.orgNumber }}</td>
          <td></td>
        </tr>
      </tbody>

    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button md-ripple [routerLink]="['./', 'add']" type="button">
      <fint-fa name="plus"></fint-fa>
      Ny organisasjon
    </button>
  </md-card-actions>
</md-card>
