<h2 *ngIf="!organization.orgId">Opprett ny organisasjon</h2>
<h2 *ngIf="organization.orgId">Rediger organisasjon</h2>

<form [formGroup]="organizationForm" novalidate (ngSubmit)="save(organizationForm.value)">
  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-xs-8">
          <fint-typeahead placeholder="Navn" itemText="navn" [items]="items" [getMatches]="getMatchesByNameFn()" formControlName="displayName" [(selectedItem)]="selectedOrganization" style="width: 99%">
            <md-hint [hidden]="organizationForm.controls['displayName'].valid || organizationForm.controls['displayName'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="organizationForm.controls['displayName'].hasError('required')">Påkrevd</span>
            </md-hint>
          </fint-typeahead>
        </div>
        <div class="col-xs-4">
          <fint-typeahead placeholder="Org.no." itemText="organisasjonsnummer" [items]="items" [getMatches]="getMatchesByNumberFn()" formControlName="orgNumber" [(selectedItem)]="selectedOrganization" style="width: 99%">
            <md-hint [hidden]="organizationForm.controls['orgNumber'].valid || organizationForm.controls['orgNumber'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="organizationForm.controls['orgNumber'].hasError('required')">Påkrevd</span>
            </md-hint>
          </fint-typeahead>
        </div>
      </div>
    </md-card-content>

    <md-card-subtitle>
      <h3>Ansvarlige for organisasjonen</h3>
    </md-card-subtitle>
    <md-card-content>
      <div class="row">
        <div class="col-6">
          <h4>Juridisk ansvarlig</h4>
          <app-edit-responsible [(responsible)]="legalContact"></app-edit-responsible>
        </div>
        <div class="col-6">
          <h4>
            Teknisk ansvarlig
            <small class="pull-right">
              <md-checkbox [checked]="legalContact.primaryTechnical" (change)="toggleMergeContact($event)">Samme som juridisk ansvarlig?</md-checkbox>
            </small>
          </h4>
          <app-edit-responsible [(responsible)]="technicalContact"></app-edit-responsible>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button md-ripple type="submit" color="primary" [disabled]="!organizationForm.valid"><fint-fa name="save"></fint-fa>Lagre</button>
      <button md-raised-button md-ripple type="button" [routerLink]="['../']"><fint-fa name="ban"></fint-fa>Avbryt</button>
    </md-card-actions>
  </md-card>
</form>
