<h2>Felleskomponenter</h2>

<div>
  Dette er alle felleskomponenter registrert.
</div>

<md-card>
  <md-card-content class="table-container" *ngIf="components.length">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th>Teknisk navn</th>
          <th>Beskrivelse</th>
          <th></th>
        </tr>
      </thead>

      <!-- Editor -->
      <tbody>
        <tr *ngFor="let component of components;" [routerLink]="['./', component.uuid]">
          <td>{{ component.displayName }}</td>
          <td>{{ component.technicalName }}</td>
          <td>{{ component.description }}</td>
          <td>
            <button md-icon-button><fint-fa name="edit"></fint-fa></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button md-ripple [routerLink]="['./add']" type=" button ">
      <fint-fa name="plus "></fint-fa>
      Konfigurer ny komponent
    </button>
  </md-card-actions>
</md-card>
