<form [formGroup]="responsibleForm" novalidate (change)="onChange()">
  <div class="row">
    <mat-form-field class="col-xs-4">
      <input matInput placeholder="Fødselsnummer" type="showBirthNo ? 'tel' : 'password'" formControlName="nin" required autocomplete="off">
      <button matSuffix mat-icon-button type="button" title="Vis fødselsnummer" (click)="showBirthNo = !showBirthNo">
        <fa [name]="showBirthNo ? 'eye' : 'eye-slash'" fixed="true"></fa>
      </button>
      <mat-hint [hidden]="responsibleForm.controls['nin'].valid || responsibleForm.controls['nin'].pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.controls['nin'].hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-6">
      <input matInput placeholder="Fornavn" type="text" formControlName="firstName" required (keypress)="moveNextOnSpace($event, lastName)" #firstName>
      <mat-hint [hidden]="responsibleForm.controls['firstName'].valid || responsibleForm.controls['firstName'].pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.controls['firstName'].hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="col-xs-6">
      <input matInput placeholder="Etternavn" type="text" formControlName="lastName" required #lastName>
      <mat-hint [hidden]="responsibleForm.controls['lastName'].valid || responsibleForm.controls['lastName'].pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.controls['lastName'].hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-8">
      <input matInput placeholder="Epost" type="email" formControlName="mail" required>
      <mat-hint [hidden]="responsibleForm.controls['mail'].valid || responsibleForm.controls['mail'].pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.controls['mail'].hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="col-xs-4">
      <input matInput placeholder="Mobil" type="tel" formControlName="mobile" required>
      <mat-hint [hidden]="responsibleForm.controls['mobile'].valid || responsibleForm.controls['mobile'].pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.controls['mobile'].hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
</form>
