<form [formGroup]="responsibleForm" novalidate (change)="onChange()">
  <div class="row">
    <mat-form-field class="col-xs-4">
      <input matInput placeholder="Fødselsnummer" type="showBirthNo ? 'tel' : 'password'" formControlName="nin" required autocomplete="off">
      <button matSuffix mat-icon-button type="button" title="Vis fødselsnummer" (click)="showBirthNo = !showBirthNo">
        <fa [name]="showBirthNo ? 'eye' : 'eye-slash'" fixed="true"></fa>
      </button>
      <mat-hint [hidden]="responsibleForm.get('nin').valid || responsibleForm.get('nin').pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.get('nin').hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-6">
      <input matInput placeholder="Fornavn" type="text" formControlName="firstName" required (keypress)="moveNextOnSpace($event, lastName)" #firstName>
      <mat-hint [hidden]="responsibleForm.get('firstName').valid || responsibleForm.get('firstName').pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.get('firstName').hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="col-xs-6">
      <input matInput placeholder="Etternavn" type="text" formControlName="lastName" required #lastName>
      <mat-hint [hidden]="responsibleForm.get('lastName').valid || responsibleForm.get('lastName').pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.get('lastName').hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-8">
      <input matInput placeholder="Epost" type="email" formControlName="mail" required>
      <mat-hint [hidden]="responsibleForm.get('mail').valid || responsibleForm.get('mail').pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.get('mail').hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="col-xs-4">
      <input matInput placeholder="Mobil" type="tel" formControlName="mobile" required>
      <mat-hint [hidden]="responsibleForm.get('mobile').valid || responsibleForm.get('mobile').pristine" align="end" style="color: red">
        <fa name="warning"></fa>
        <span *ngIf="responsibleForm.get('mobile').hasError('required')">Påkrevd</span>
      </mat-hint>
    </mat-form-field>
  </div>
</form>
