.responsible {
  mat-card-header {
    mat-card-title {
      font-weight: bold;
    }
    @media (min-width: 900px) {
      mat-card-title {
        display: inline-block;
      }
      mat-card-subtitle {
        position: absolute;
        top: 30px;
        right: 20px;
      }
    }
  }
  div[class*="col-"] {
    padding: 5px;
  }
  > mat-card-content {
    margin: 0 -24px;
  }
}
