<h2 *ngIf="component.name == null">Opprett ny felleskomponent</h2>
<h2 *ngIf="component.name != null">Rediger felleskomponent</h2>

<form [formGroup]="componentForm" (ngSubmit)="save(componentForm.value)">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col-xs-8">
          <input matInput placeholder="Navn" type="text" formControlName="displayName" style="width: 99%" required>
          <mat-hint [hidden]="componentForm.controls['displayName'].valid || componentForm.controls['displayName'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="componentForm.controls['displayName'].hasError('required')">Påkrevd</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-xs-4">
          <input matInput placeholder="Teknisk navn" type="text" formControlName="name" style="width: 99%" required>
          <mat-hint [hidden]="componentForm.controls['name'].valid || componentForm.controls['name'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="componentForm.controls['name'].hasError('required')">Påkrevd</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <textarea matInput placeholder="Beskrivelse" rows="6" type="text" formControlName="description" style="width: 99%"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" color="primary" [disabled]="!componentForm.valid"><fa name="save"></fa>Lagre</button>
      <button mat-raised-button type="button" [routerLink]="['../']"><fa name="ban"></fa>Avbryt</button>
      <button mat-raised-button color="warn" type="button" (click)="deleteComponent()" class="pull-right"><fa name="trash"></fa>Slett component</button>
    </mat-card-actions>
  </mat-card>
</form>
